{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">University Events</h1>
        <p>With this application, you can browse and publish events at your university.</p>
        <p>
            <a class="btn btn-outline-primary btn-lg" href="/rso/new" role="button">Register your RSO »</a>
            <a class="btn btn-primary btn-lg" href="/event/new" role="button">Create an Event »</a>
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Public Events</h2>
            <p>Public events are available to all students at all schools.</p>
            <p><a class="btn btn-secondary" href="/event/list?filter=public" role="button">View public events »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Private Events</h2>
            <p>Private events are available only to students at a particular university.</p>
            <p><a class="btn btn-secondary" href="/event/list?filter=private" role="button">View private events »</a></p>
        </div>
        <div class="col-md-4">
            <h2>RSO Events</h2>
            <p>RSO events are available only to members of the hosting RSO.</p>
            <p><a class="btn btn-secondary" href="/event/list?filter=rso" role="button">View RSO events »</a></p>
        </div>
        </div>
    </div>
</div>
{% endblock %}